![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | SQL Intro

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. You can follow the steps listed here to get the data locally: [Sakila sample database - installation](https://dev.mysql.com/doc/sakila/en/sakila-installation.html). You can work with two sql query files - `sakila-schema.sql` (creates the schema) + `sakila-data.sql` which inserts the data.

The ERD is pictured below - not all tables are shown, but many of the key fields you will be using are visible:

<br>

![DB schema](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/database-sakila-schema.png)

<br><br>

### Instructions

1. Use sakila database.
2. Get all the data from tables `actor`, `film` and `customer`.
3. Get film titles.
4. Get unique list of film languages under the alias `language`. Note that we are not asking you to obtain the language per each film, but this is a good time to think about how you might get that information in the future.
5.
  - 5.1 Find out how many stores does the company have?
  - 5.2 Find out how many employees staff does the company have? 
  - 5.3 Return a list of employee first names only?
  ---

## My code SQL


1. Use sakila database.
```
SHOW DATABASES;
USE sakila;
``` 
2. Get all the data from tables actor, film and customer.
```
SHOW TABLES;
SELECT * FROM actor;
SELECT * FROM film;
SELECT * FROM customer;
```
3. Get film titles.
```
SELECT title FROM film;
```
4. Get unique list of film languages under the alias language.
```
SELECT name AS language
FROM language;
SELECT distinct name AS language
FROM language;
```
5. 5.1 Find out how many stores does the company have?

   5.2 Find out how many employees staff does the company have?

   5.3 Return a list of employee first names only?
```
SELECT COUNT(*) store;
SELECT COUNT(*) staff;
SELECT first_name 
FROM staff;
```